{% extends "registration/header.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url({% static 'img/bg-img/iStock.jpg' %});">

<!--Register-->
<div class="container py-5">
	<h1 class="text" style="color: #FFFFFF">Register</h1>
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
        {% for field in register_form %}
        {{ field.label }}
        {{ field }}
        {% endfor %}

		<button class="btn btn-info" type="submit">Register</button>
	</form>
<br><br/>

    <p style="color: red" class="text-danger">{{ register_form.errors }}</p>


<br><br/>

    <p class="text-center" style="font-size: large; color: #FFFFFF">If you already have an account, <a href="/user_auth">login</a> instead.</p>
</div>
    <div class="container" style="margin-bottom:0px;"></div>
    </section>
{% endblock %}

